$theme-colors: (
    
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1516px,
);

@import '../../node_modules/bootstrap/scss/bootstrap';

/* default breakpoint reference

xs: < 576px
sm: >= 576px
md: >= 768px
lg: >= 992px
xl: >= 1200px

*/